
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
import time

In [3]:
driver= webdriver.Chrome()
driver.get("https://www.shine.com/")
designation=driver.find_element(By.XPATH,"//*[@id=\"webSearchBar\"]/input")
designation.click()
driver.implicitly_wait(2)
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Analyst')
designation=driver.find_element(By.ID,"id_loc")
designation.send_keys('Bangalore')
designation=driver.find_element(By.XPATH,"//*[@id=\"__next\"]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
designation.click()
driver.implicitly_wait(5)
titles = []
employers = []
exprience = []
title_tags=driver.find_elements(By.XPATH,"//div/h2/a")
for i in title_tags:
    titles.append(i.text)
#jobCard_jobCard_cName__mYnow   

employer_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in employer_tags:
    employers.append(i.text)

    # jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t
#tml body div#__next div.main div.container.jsrpcomponent_mobile_container__boS9b.jsrpFixBody div.jsrpcomponent_jsrp__DUsWy.mt-15.jsrp div.jsrpcomponent_jsrp_leftPanel__2nm3w.jsrp_leftPanel div.leftpanel_jsrp_leftPanel_container__AVUCY.custom_scroll div.leftpanel_jsrp_leftPanel_wrap__YXu_c.jsrp_leftPanel_wrap div#1.parentClass.position-relative div div.jobCard_jobCard__jjUmu.active.white-box-border.jobCard div div.jobCard_jobCard_lists__fdnsc div.jobCard_jobCard_lists_item__YxRkV.jobCard_jobIcon__3FB1t    
exprienc_tags = driver.find_elements(By.CLASS_NAME, 'jobCard_jobIcon__3FB1t')
for i in exprienc_tags:
    exprience.append(i.text)
    
data = {'Title': titles[:10], 'Employer': employers[:10], 'Expriennce': exprience[:10]}
df = pd.DataFrame(data)
print(df)

                                        Title  \
0                           Lead Data Analyst
1                                Data Analyst
2                    Vacancy For Data Analyst
3                       Clinical Data Analyst
4                           Data Modeler data
5                               Data Modeller
6                      Data Modeler Bangalore
7                                Data Modeler
8                       Clinical Data Analyst
9  Data Analyst Hiring Fresher and Experience

                                 Employer  Expriennce
0           ara resources private limited  4 to 9 Yrs
1       diraa hr services hiring for mncs   0 to 1 Yr
2                yogita staffing solution  0 to 3 Yrs
3                           techno endura   0 to 1 Yr
4  boyen haddin consulting and technol...  3 to 6 Yrs
5  boyen haddin consulting and technol...  3 to 6 Yrs
6  boyen haddin consulting and technol...  3 to 6 Yrs
7  boyen haddin consulting and technol...  3 to 6 Yrs
8                         quiscon biotech  0 to 2 Yrs
9                       kavya interprises  0 to 4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.shine.com/
2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter thelocation” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually

In [4]:
driver= webdriver.Chrome()
driver.get("https://www.shine.com/")
designation=driver.find_element(By.XPATH,"//*[@id=\"webSearchBar\"]/input")
designation.click()
driver.implicitly_wait(2)
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')
designation=driver.find_element(By.ID,"id_loc")
designation.send_keys('Bangalore')
designation=driver.find_element(By.XPATH,"//*[@id=\"__next\"]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
designation.click()
driver.implicitly_wait(5)
titles = []
employers = []
exprience = []
title_tags=driver.find_elements(By.XPATH,"//div/h2/a")
for i in title_tags:
    titles.append(i.text)
#jobCard_jobCard_cName__mYnow   

employer_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in employer_tags:
    employers.append(i.text)

    # jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t
#tml body div#__next div.main div.container.jsrpcomponent_mobile_container__boS9b.jsrpFixBody div.jsrpcomponent_jsrp__DUsWy.mt-15.jsrp div.jsrpcomponent_jsrp_leftPanel__2nm3w.jsrp_leftPanel div.leftpanel_jsrp_leftPanel_container__AVUCY.custom_scroll div.leftpanel_jsrp_leftPanel_wrap__YXu_c.jsrp_leftPanel_wrap div#1.parentClass.position-relative div div.jobCard_jobCard__jjUmu.active.white-box-border.jobCard div div.jobCard_jobCard_lists__fdnsc div.jobCard_jobCard_lists_item__YxRkV.jobCard_jobIcon__3FB1t    
exprienc_tags = driver.find_elements(By.CLASS_NAME, 'jobCard_jobIcon__3FB1t')
for i in exprienc_tags:
    exprience.append(i.text)
    
data = {'Title': titles[:10], 'Employer': employers[:10], 'Expriennce': exprience[:10]}
df = pd.DataFrame(data)
print(df)

                                               Title  \
0                                     Data Scientist
1                                     Data Scientist
2      Lead Data Scientist/ Principal Data Scientist
3                              Senior Data Scientist
4  Vacancy For Data Scientist Fresher and Experience
5                                Lead Data Scientist
6                                     Data Scientist
7                      Data Scientist Urgent Vacancy
8                                     Data Scientist
9                              Pharma Data Scientist

                        Employer   Expriennce
0  acme services private limited   3 to 5 Yrs
1            ltimindtree limited   6 to 8 Yrs
2                        fractal   5 to 9 Yrs
3                       neostats  7 to 11 Yrs
4       yogita staffing solution   0 to 3 Yrs
5                          aereo  7 to 10 Yrs
6      people staffing solutions   4 to 9 Yrs
7       yogita staffing solution   0 to 3 Yrs
8              diraa hr services   0 to 4 Yrs
9                quiscon biotech    0 to 1 Yr

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [215]:
#.jobCard div h2 a  /html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div/div[9]/div[1]/div[1]/h2/a
driver= webdriver.Chrome()
driver.get("https://www.shine.com/")
designation=driver.find_element(By.XPATH,"//*[@id=\"webSearchBar\"]/input")
designation.click()
driver.implicitly_wait(2)
designation=driver.find_element(By.ID,"id_q")
designation.send_keys('Data Scientist')
designation=driver.find_element(By.XPATH,"//*[@id=\"__next\"]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
designation.click()
button = driver.find_element(By.XPATH, "//button[contains( text( ), 'Salary')]")
button.click()
label = driver.find_element(By.XPATH, "//label[contains( text( ), '3 To 5 Lakh')]")
label.click()
locationLink = driver.find_element(By.XPATH, "//li[contains( text( ), 'Location')]")
locationLink.click()
locationFilter = driver.find_element(By.ID, "search")
locationFilter.send_keys('Delhi')
locationLink = driver.find_element(By.XPATH, '//label[@for="filter_jFLoc_406"]')
locationLink.click()
button = driver.find_element(By.XPATH, "//button[contains( text( ), 'Show Results')]")
button.click()
driver.implicitly_wait(5)
titles = []
employers = []
exprience = []
title_tags=driver.find_elements(By.XPATH,"//div/h2/a")
for i in title_tags:
    titles.append(i.text)
#jobCard_jobCard_cName__mYnow   

employer_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in employer_tags:
    employers.append(i.text)

    # jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t
#tml body div#__next div.main div.container.jsrpcomponent_mobile_container__boS9b.jsrpFixBody div.jsrpcomponent_jsrp__DUsWy.mt-15.jsrp div.jsrpcomponent_jsrp_leftPanel__2nm3w.jsrp_leftPanel div.leftpanel_jsrp_leftPanel_container__AVUCY.custom_scroll div.leftpanel_jsrp_leftPanel_wrap__YXu_c.jsrp_leftPanel_wrap div#1.parentClass.position-relative div div.jobCard_jobCard__jjUmu.active.white-box-border.jobCard div div.jobCard_jobCard_lists__fdnsc div.jobCard_jobCard_lists_item__YxRkV.jobCard_jobIcon__3FB1t    
exprienc_tags = driver.find_elements(By.CLASS_NAME, 'jobCard_jobIcon__3FB1t')
for i in exprienc_tags:
    exprience.append(i.text)
    
data = {'Title': titles[:10], 'Employer': employers[:10], 'Expriennce': exprience[:10]}
df = pd.DataFrame(data)
print(df)

                                              Title  \
0                 Data Scientist/Data Analyst-17740
1  Data Scientist /Quantitative Equity Researcher 2
2                      Data Scientist (Theoretical)
3                             Senior Data Scientist
4                              Staff Data Scientist
5                       Data Scientist- BLR HYD GGN
6                               Lead Data Scientist
7                                    Data Scientist
8                                    Data Scientist
9                       Data Scientist - SQL/Python

                                 Employer    Expriennce
0                 gemraj technologies ltd    3 to 5 Yrs
1                  pinebridge investments     0 to 1 Yr
2                    torcai digital media     0 to 1 Yr
3                         infovision inc.     0 to 1 Yr
4                               legalzoom     0 to 1 Yr
5                                 genpact     0 to 1 Yr
6                             three steps     0 to 1 Yr
7  flipped.ai - transforming talent ac...  10 to 20 Yrs
8                          osource global    2 to 7 Yrs
9                          arting digital     0 to 1 Yr

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
6. Brand
7. Product Description
8. Price
The attributes which you have to scrape is ticked marked in the below image

In [244]:
driver= webdriver.Chrome()
driver.get("https://www.flipkart.com/")

def tag_data(tags, data):
    for tag in tags:
        types_tag = tag.find_element(By.CLASS_NAME, "_2WkVRV")
        data['Type'].append(types_tag.text)
        brand_tag = tag.find_element(By.CLASS_NAME, "IRpwTa")
        data['Brand'].append(brand_tag.text)
        price_tag = tag.find_element(By.CLASS_NAME, "_30jeq3")
        data['Price'].append(price_tag.text)
        discount_tag = tag.find_element(By.CLASS_NAME, "_3Ay6Sb")
        data['Discounts'].append(discount_tag.text)
        
    


searchBar = driver.find_element(By.CLASS_NAME, 'Pke_EE')
searchBar.send_keys('sunglasses')
searchBar.submit()
driver.implicitly_wait(5)
types = []
brands = []
price = []
discounts = []
data = {'Type': types, 'Brand': brands, 'Price': price, 'Discounts': discounts}
parent_tags = driver.find_elements(By.CLASS_NAME, "_1xHGtK")


tag_data(parent_tags, data)

next = driver.find_element(By.CLASS_NAME, "_1LKTO3")
next.click()
element = WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.XPATH, "//*[contains(text(),'Page 2 of')]"))
    )
parent1_tags = driver.find_elements(By.CLASS_NAME, "_1xHGtK")
tag_data(parent1_tags, data)

next = driver.find_elements(By.CLASS_NAME, "_1LKTO3")
next[1].click()
element = WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.XPATH, "//*[contains(text(),'Page 3 of')]"))
    )
parent1_tags = driver.find_elements(By.CLASS_NAME, "_1xHGtK")
tag_data(parent1_tags, data)

df = pd.DataFrame(data)
print(df)

              Type                                              Brand   Price  \
0    VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...    ₹829
1    VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹849
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹149
3         Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹599
4        Elligator         UV Protection Retro Square Sunglasses (54)    ₹149
..             ...                                                ...     ...
115  VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...    ₹829
116      ROYAL SON  UV Protection Wrap-around, Sports Sunglasses (60)    ₹636
117      ROYAL SON         UV Protection Retro Square Sunglasses (60)    ₹497
118      Royaltail                  Polarized Aviator Sunglasses (58)  ₹1,118
119  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹829

    Discounts
0     58% off
1     57% off
2     88% off
3     45% off
4     70% off
..        ...
115   58% off
116   68% off
117   75% off
118   77% off
119   58% off

[120 rows x 4 columns]

5.Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb/product-
reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market
place=FLIPKAR

In [262]:
driver= webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

def tag_data(tags, data):
    for tag in tags:
        types_tag = tag.find_element(By.CLASS_NAME, "_1BLPMq")
        data['Rating'].append(types_tag.text)
        brand_tag = tag.find_element(By.CLASS_NAME, "_2-N8zT")
        data['Lable'].append(brand_tag.text)
        price_tag = tag.find_element(By.CLASS_NAME, "t-ZTKy")
        data['Detail'].append(price_tag.text)
    

driver.implicitly_wait(5)
ratings = []
lables = []
details = []
data = {'Rating': ratings, 'Lable': lables, 'Detail': details}
parent_tags = driver.find_elements(By.CLASS_NAME, "_2wzgFH")
tag_data(parent_tags, data)


df = pd.DataFrame(data)
print(df)

  Rating                Lable  \
0      5    Worth every penny
1      5            Just wow!
2      5  Best in the market!
3      5            Wonderful
4      5       Classy product
5      5             Terrific
6      5    Terrific purchase
7      5     Perfect product!
8      5     Perfect product!
9      5            Fabulous!

                                              Detail
0  Feeling awesome after getting the delivery of ...
1                                  Perfect Product!!
2                                        Good Camera
3                             This is amazing at all
4  Camera is awesome\nBest battery backup\nA perf...
5                                     Very very good
6                                  Value for money 😍
7                                       Photos super
8                                         V Good all
9                    Super🔥 and good performance 👌❤️

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the above attributes.

In [5]:
driver= webdriver.Chrome()
driver.get("https://www.flipkart.com/")

def tag_data(tags, data):
    for tag in tags:
        types_tag = tag.find_element(By.CLASS_NAME, "_2WkVRV")
        data['Type'].append(types_tag.text)
        brand_tag = tag.find_element(By.CLASS_NAME, "IRpwTa")
        data['Brand'].append(brand_tag.text)
        price_tag = tag.find_element(By.CLASS_NAME, "_30jeq3")
        data['Price'].append(price_tag.text)
        discount_tag = tag.find_element(By.CLASS_NAME, "_3Ay6Sb")
        data['Discounts'].append(discount_tag.text)
        
    


searchBar = driver.find_element(By.CLASS_NAME, 'Pke_EE')
searchBar.send_keys('sneakers')
searchBar.submit()
driver.implicitly_wait(5)
types = []
brands = []
price = []
discounts = []
data = {'Type': types, 'Brand': brands, 'Price': price, 'Discounts': discounts}
parent_tags = driver.find_elements(By.CLASS_NAME, "_1xHGtK")


tag_data(parent_tags, data)

next = driver.find_element(By.CLASS_NAME, "_1LKTO3")
next.click()
element = WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.XPATH, "//*[contains(text(),'Page 2 of')]"))
    )
parent1_tags = driver.find_elements(By.CLASS_NAME, "_1xHGtK")
tag_data(parent1_tags, data)

next = driver.find_elements(By.CLASS_NAME, "_1LKTO3")
next[1].click()
element = WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.XPATH, "//*[contains(text(),'Page 3 of')]"))
    )
parent1_tags = driver.find_elements(By.CLASS_NAME, "_1xHGtK")
tag_data(parent1_tags, data)

df = pd.DataFrame(data)
print(df)

                 Type                                              Brand  \
0            URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...
1                aadi                                   Sneakers For Men
2            URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...
3              BRUTON               Modern Trendy Shoes Sneakers For Men
4           Deals4you                                 Sneakers For Women
..                ...                                                ...
115  ADIDAS ORIGINALS                        CAMPUS 00s Sneakers For Men
116            KILLER  KL20092 Lightweight Comfort Summer Trendy Prem...
117              ATOM                                   Sneakers For Men
118          Skechers                        GLIDE-STEP Sneakers For Men
119             asian  Skypy-31 Walking Shoes,Training Shoes,Sneakers...

      Price Discounts
0      ₹299   70% off
1      ₹299   85% off
2      ₹299   70% off
3      ₹299   76% off
4      ₹399   60% off
..      ...       ...
115  ₹6,058   39% off
116    ₹683   79% off
117  ₹1,088   66% off
118  ₹3,369   55% off
119    ₹689   13% off

[120 rows x 4 columns]

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image

In [80]:
driver= webdriver.Chrome()
driver.get("https://www.amazon.in/")
search_g= driver.find_element(By.XPATH, "//input[@type='text']")
search_g.send_keys('Laptop')
search_btn=driver.find_element(By.XPATH, "//input[@id='nav-search-submit-button']")
search_btn.click()

Title=[]
Price=[]
Rating=[]
WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.XPATH, "//div[@data-cy='title-recipe']"))
    )
b_name=driver.find_elements(By.XPATH, "//div[@data-cy='title-recipe']")
price =driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")


for j  in b_name:
    Title.append(j.text)
   
 for l in price:
    Price.append(l.text)

    
df = pd.DataFrame({'Product': Title, 'Price': Price})
print(df)

                                              Product     Price
0   Sponsored\nMicrosoft\nSurface Laptop GO 3 Touc...    78,999
1   Sponsored\nDell\n15 Laptop, Intel Core i5-1135...    51,990
2   HP\nPavilion Aero AMD Ryzen 7 7735U 13.3 inch(...    77,990
3   ASUS\nVivoBook 15 (2021), 15.6-inch (39.62 cm)...    22,990
4   HP\nLaptop 15s, Intel Celeron, 15.6-inch (39.6...    29,490
5   Dell G15 5520 Gaming Laptop, Intel i5-12500H, ...    71,490
6   ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cm FH...    74,990
7   Lenovo Yoga Slim 6 Intel Evo Core i5 1240P 14"...    64,519
8
9
10  Sponsored\nASUS ROG Strix G17 (2022), 17.3-inc...    88,990
11  [Windows 11 Home] HP 255 G8 Notebook, 15.6'' H...    22,680
12  Dell\n15 Laptop, Intel Core i3-1115G4 Processo...    37,490
13  HP\n15s 12th Gen Intel Core i5-1235U 15/6inch ...    51,990
14  ASUS\nVivobook 14, Intel Core i3-1115G4 11th G...    29,990
15  HP\nPavilion Aero AMD Ryzen 5 7535U 13.3 inch(...    68,999
16  Sponsored\nApple\n2023 MacBook Air Laptop with...  1,54,900
17  Sponsored\nMicrosoft\nNew Surface Pro9 13" Int...  1,02,520
18  Tecno\nMEGABOOK T1, Intel Core 11th Gen i3 Pro...    23,990
19  Lenovo\nIdeaPad Slim 5 13th Gen Intel Core i7-...    83,190
20  Tecno\nMEGABOOK T1, Intel Core 11th Gen i5 Pro...    29,990
21  HP\nLaptop 15s, 12th Gen Intel Core i3-1215U, ...    38,999
22  Dell\n15 Laptop, Intel Core i5-1135G7 Processo...    47,990
23  Tecno\nMEGABOOK T1, Intel Core 11th Gen i5 Pro...    29,990
24  Acer\nTravelmate Business Laptop AMD Ryzen 5 5...    34,990
25  ASUS\nSmartChoice] Vivobook 15, Intel Celeron ...    30,990
26  Sponsored\nYale\nStandard Safe For Laptop YLS/...     7,000
27  Sponsored\nDell\n15 Laptop, Intel Core i3-1115...    37,490
28  Sponsored\nDell G15 5520 Gaming Laptop, Intel ...    77,490

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1. First get the webpagehttps://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quotes

In [297]:
driver= webdriver.Chrome()
driver.get("https://www.azquotes.com/")
driver.find_element(By.XPATH, "//a[contains(text(),'Top Quotes')]").click()

def tag_data(tags, data):
    for tag in tags:
        types_tag = tag.find_element(By.CLASS_NAME, "title")
        data['Quote'].append(types_tag.text)
        brand_tag = tag.find_element(By.CLASS_NAME, "author")
        data['Author'].append(brand_tag.text)
        price_tag = tag.find_element(By.CLASS_NAME, "tags")
        data['Type'].append(price_tag.text)

quotes = []
authors = []
types = []
data = {'Quote': quotes, 'Author': authors, 'Type': types}
parent_tag = driver.find_elements(By.CLASS_NAME, "wrap-block")
tag_data(parent_tag, data)

df = pd.DataFrame(data)
print(df)

                                                Quote                Author  \
0   The essence of strategy is choosing what not t...        Michael Porter
1   One cannot and must not try to erase the past ...            Golda Meir
2   Patriotism means to stand by the country. It d...    Theodore Roosevelt
3   Death is something inevitable. When a man has ...        Nelson Mandela
4   You have to love a nation that celebrates its ...          Erma Bombeck
..                                                ...                   ...
95     When the going gets weird, the weird turn pro.    Hunter S. Thompson
96  When a train goes through a tunnel and it gets...       Corrie Ten Boom
97  If you think you are too small to make a diffe...            Dalai Lama
98  God doesn't require us to succeed, he only req...         Mother Teresa
99    Change your thoughts and you change your world.  Norman Vincent Peale

                                        Type
0   Essence, Deep Thought, Transcendentalism
1                  Inspiration, Past, Trying
2                        Country, Peace, War
3         Inspirational, Motivational, Death
4               4th Of July, Food, Patriotic
..                                       ...
95                    Music, Sports, Hunting
96             Trust, Encouraging, Uplifting
97              Inspirational, Funny, Change
98                      Success, God, Mother
99       Inspirational, Motivational, Change

[100 rows x 3 columns]

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpagehttps://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make theDataFra

In [95]:
driver= webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")
driver.find_element(By.XPATH, "//a[contains(text(),'GK')]").click()

element = WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.LINK_TEXT, "List of All Prime Ministers of India (1947-2024)"))
    )
pm_option = driver.find_element(By.LINK_TEXT, "List of All Prime Ministers of India (1947-2024)")
pm_option.click()

element = WebDriverWait(driver, 5).until(
        EC.presence_of_element_located((By.ID, 'itemdiv'))
    )


data = []
table = driver.find_element(By.ID, 'itemdiv')
rows = table.find_elements(By.TAG_NAME , 'tr')
for row in rows:
    tds = row.find_elements(By.TAG_NAME , 'td')
    if len(tds) > 4:
        data.append({"Name": tds[1].text, "Born Date": tds[2].text , "Term In Office": tds[3].text })
    
print('data:')
df = pd.DataFrame(data)
print(df)
#List of All Prime Ministers of India (1947-2024)

data:
                           Name     Born Date  \
0             Jawahar Lal Nehru   (1889–1964)
1     Gulzarilal Nanda (Acting)   (1898-1998)
2           Lal Bahadur Shastri   (1904–1966)
3   Gulzari Lal Nanda  (Acting)   (1898-1998)
4                 Indira Gandhi   (1917–1984)
5                 Morarji Desai   (1896–1995)
6                  Charan Singh   (1902–1987)
7                 Indira Gandhi   (1917–1984)
8                  Rajiv Gandhi   (1944–1991)
9                   V. P. Singh   (1931–2008)
10              Chandra Shekhar   (1927–2007)
11          P. V. Narasimha Rao   (1921–2004)
12         Atal Bihari Vajpayee  (1924- 2018)
13             H. D. Deve Gowda   (born 1933)
14           Inder Kumar Gujral   (1919–2012)
15         Atal Bihari Vajpayee   (1924-2018)
16               Manmohan Singh   (born 1932)
17                Narendra Modi   (born 1950)
18                Narendra Modi   (born 1950)

                                       Term In Office
0   15 August 1947 to 27 May 1964\n16 years, 286 days
1                27 May 1964 to 9 June 1964,\n13 days
2    9 June 1964 to 11 January 1966\n1 year, 216 days
3         11 January 1966 to 24 January 1966\n13 days
4   24 January 1966 to 24 March 1977\n11 years, 59...
5   24 March 1977 to  28 July 1979 \n2 year, 126 days
6           28 July 1979 to 14 January 1980\n170 days
7   14 January 1980 to 31 October 1984\n4 years, 2...
8   31 October 1984 to 2 December 1989\n5 years, 3...
9       2 December 1989 to 10 November 1990\n343 days
10         10 November 1990 to 21 June 1991\n223 days
11     21 June 1991 to 16 May 1996\n4 years, 330 days
12                16 May 1996 to 1 June 1996\n16 days
13             1 June 1996 to 21 April 1997\n324 days
14          21 April 1997 to 19 March 1998 \n332 days
15    19 March 1998 to 22 May 2004 \n6 years, 64 days
16    22 May 2004 to 26 May 2014   \n10 years, 4 days
17                                 26 May 2014 - 2019
18                             30 May 2019- Incumbent

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e.
Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to type in the search bar ’50 most expensive cars’
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the datafram

In [43]:
driver= webdriver.Chrome()
driver.get("https://www.motor1.com/")
driver.find_element(By.CLASS_NAME, "m1-search-panel-input").send_keys("50 most expensive cars")
driver.find_element(By.CLASS_NAME, "m1-search-panel-button").click()
element = WebDriverWait(driver, 60).until(
        EC.presence_of_element_located((By.LINK_TEXT, "50 Most Expensive Cars In The World"))
    )
pm_option = driver.find_element(By.LINK_TEXT, "50 Most Expensive Cars In The World")
pm_option.click()
element = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.XPATH, "//h1[contains(text(),'50 Most Expensive Cars In The World')]"))
    )
data = driver.find_element(By.CLASS_NAME, "postBody")
vehicles = data.find_elements(By.TAG_NAME, "li")
info = []
for item in vehicles:
    itemInfo = item.text.split('-')
    if (len(itemInfo) == 2):
        info.append({'Car': itemInfo[0], 'Price': itemInfo[1]})
    
df = pd.DataFrame(info)
print(df)

                                 Car           Price
0               Aston Martin Valour     $1.5 Million
1                      Mclaren Elva     $1.7 Million
2                       Czinger 21C     $1.7 Million
3                     Ferrari Monza     $1.7 Million
4                Gordon Murray T.33     $1.7 Million
5                 Koenigsegg Gemera     $1.7 Million
6                      McLaren Elva     $1.7 Million
7                Hennessey Venom F5     $1.8 Million
8                   Bentley Bacalar     $1.9 Million
9                       SSC Tuatara     $2.0 Million
10                      Lotus Evija     $2.1 Million
11              Aston Martin Vulcan     $2.3 Million
12                       Delage D12     $2.3 Million
13              Ferrari Daytona SP3     $2.3 Million
14                McLaren Speedtail     $2.3 Million
15                     Rimac Nevera     $2.4 Million
16             Pininfarina Battista     $2.5 Million
17               Gordon Murray T.50     $2.6 Million
18             Lamborghini Countach     $2.6 Million
19                     Zenvo Aurora     $2.8 Million
20              Aston Martin Victor     $3.0 Million
21                 Koenigsegg Jesko     $3.0 Million
22            Aston Martin Valkyrie     $3.2 Million
23        W Motors Lykan Hypersport     $3.4 Million
24                 Lamborghini Sian     $3.6 million
25  Bugatti Chiron Super Sport 300+     $3.9 Million
26               Lamborghini Veneno     $4.5 Million
27                   Bugatti Bolide     $4.7 Million
28        Pininfarina B95 Speedster     $4.8 Million
29                     Bugatti Divo     $5.8 Million
30              SP Automotive Chaos     $6.4 Million
31                     777 Hypercar     $7.5 Million
32               Bugatti Centodieci     $9.0 Million
33         Bugatti La Voiture Noire    $13.4 Million