In [35]:
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException, ElementClickInterceptedException, ElementNotInteractableException
from selenium.webdriver.common.action_chains import ActionChains
import warnings
import requests
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import pandas as pd 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import regex as re

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank B) Name C) Artist D) Upload date E) Views

In [10]:
driver=webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
time.sleep(5)

name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
except StaleElementReferenceException:
    name.append('No details available')
    
time.sleep(2)    

rank=[]
try:
    ranks=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('No details available')
except StaleElementReferenceException:
    rank.append('No details available')

time.sleep(2)

artist=[]
try:
    artists=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('No details available')
except StaleElementReferenceException:
    artist.append('No details available')
    
time.sleep(2)    

views=[]
try:
    views_list=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:
    views.append('No details available')
except StaleElementReferenceException:
    views.append('No details available')
    
time.sleep(2)    

upload_date=[]
try:
    upload_date_list=driver.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('No details available')
except StaleElementReferenceException:
    upload_date.append('No details available')
    
time.sleep(2)    

df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
2,"""See You Again""[22]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
3,"""Gangnam Style""⁂[31]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
4,"""Baby""*[66]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
5,"""Bad Romance""[70]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
6,"""Charlie Bit My Finger""‡[74]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
7,"""Evolution of Dance""[77]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
8,"""Girlfriend""‡[79][80]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
9,"""Evolution of Dance""[77]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
10,"""Music Is My Hot Hot Sex""‡[85]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
11,"""Evolution of Dance""*[77]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
12,"""Pokémon Theme Music Video""‡[90]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
13,"""Myspace – The Movie""‡[95][96]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
14,"""Phony Photo Booth""‡[99]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
15,"""The Chronic of Narnia Rap""‡[105]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
16,"""Ronaldinho: Touch of Gold""‡*[108]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
17,"""I/O Brush""‡*[114]",larfus,"247,000","October 29, 2005","October 5, 2005"

2.Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time

In [45]:
driver=webdriver.Chrome()
driver.get("https://www.bcci.tv/")
time.sleep(5)
optn = driver.find_element(By.XPATH, "/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
optn.click()
time.sleep(5)
Series = []
Place = []
Date = []
Time = []
international_fixture= driver.find_elements(By.ID, "match-card")
for international in international_fixture:
    series_elem = international.find_element(By.CLASS_NAME, "match-tournament-name")
    Series.append(series_elem.text)
    place_elem = international.find_element(By.CLASS_NAME, "match-place")
    Place.append(place_elem.text)
    date_elem = international.find_element(By.CLASS_NAME, "match-dates")
    Date.append(date_elem.text)
    time_elem = international.find_element(By.CLASS_NAME, "match-time")
    Time.append(time_elem.text)
    
df=pd.DataFrame({'Series':Series,
                'Place':Place,
                'Date':Date,
                'Time':Time,
                })
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"JSCA International Stadium Complex, Ranchi","22 FEBRUARY, 2024",11:00 PM EST
1,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","6 MARCH, 2024",11:00 PM EST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",10:30 AM EST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",10:30 AM EST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",10:30 AM EST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",10:30 AM EST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",10:30 AM EST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

In [109]:
driver=webdriver.Chrome() 
time.sleep(2)

driver.get("http://statisticstimes.com/")
driver.maximize_window()
time.sleep(2)

economy=driver.find_element(By.XPATH, "//div[@class='dropdown'][2]//div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
time.sleep(5)

indian_states=driver.find_element(By.XPATH, "//a[contains(text(), 'GDP of Indian states')]")
indian_states.click()
time.sleep(5)


rank=[]
State=[]
GSDP_23=[]
GSDP_22=[]
share=[]
GDP_billion=[]
driver.execute_script("return document.getElementsByClassName('videoslider')[0].remove();");
stats_table_elements = driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr")
for stat_row in stats_table_elements:
    try: 
        stat_cell = stat_row.find_elements(By.TAG_NAME, "td")
        rank.append(stat_cell[0].text)
        State.append(stat_cell[1].text)
        GSDP_23.append(stat_cell[2].text)
        GSDP_22.append(stat_cell[3].text)
        share.append(stat_cell[4].text)
        GDP_billion.append(stat_cell[5].text)
    except NoSuchElementException:
        pass

df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(22-23)':GSDP_23,
                'GSDP(21-22)':GSDP_22,
                'Share(22-22)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(22-23),GSDP(21-22),Share(22-22),GDP(Billion_$)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523
10,11,Kerala,-,"932,470",3.97%,125.157
11,12,Delhi,"1,043,759","904,642",3.85%,121.422
12,13,Haryana,"994,154","870,665",3.71%,116.862
13,14,Odisha,"774,869","670,881",2.86%,90.047
14,15,Bihar,"751,396","650,302",2.77%,87.284
15,16,Punjab,"673,107","614,227",2.62%,82.442
16,17,Assam,"493,167","412,612",1.76%,55.381
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550
18,19,Jharkhand,"393,722","358,863",1.53%,48.167
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659
22,23,Goa,-,"82,604",0.35%,11.087
23,24,Tripura,"72,636","62,550",0.27%,8.396
24,25,Chandigarh,-,"45,635",0.19%,6.125
25,26,Puducherry,-,"44,238",0.19%,5.938
26,27,Meghalaya,"42,697","38,785",0.17%,5.206
27,28,Sikkim,"42,756","37,557",0.16%,5.041
28,29,Manipur,-,"36,594",0.16%,4.912
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714
30,31,Nagaland,-,"31,913",0.14%,4.283
31,32,Mizoram,-,"27,824",0.12%,3.735
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392

6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [32]:
driver=webdriver.Chrome() 
time.sleep(2)
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
time.sleep(2)


book_name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        book_name.append(i.text)
except NoSuchElementException:              
    book_name.append('No details available')
time.sleep(2)

author_name=[]
try:
    names=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in names:
        author_name.append(i.text)
except NoSuchElementException:
    author_name.append('No details available')
time.sleep(2)



Sale=[]
try:
    sale=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in sale:
        Sale.append(i.text)
except NoSuchElementException:
    Sale.append('No details available')
time.sleep(2)    


publisher=[]
try:
    publishers=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('No details available')
time.sleep(2)


genre=[]
try:
    genres=driver.find_elements(By.XPATH, "//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('No details available')
time.sleep(2)


df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':Sale,
                'Publisher':publisher,
                'Genre':genre})
df

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

In [106]:
driver=webdriver.Chrome() 
time.sleep(2)
driver.get("https://archive.ics.uci.edu/")
driver.maximize_window()
time.sleep(2)

btn = driver.find_element(By.LINK_TEXT, "View Datasets")
driver.execute_script("return arguments[0].scrollIntoView(true);", btn)
time.sleep(1)
btn.click()
time.sleep(1)   
#div.rounded-box.bg-base-100

urls = []
name=[]
for _ in range(0,10):
    data_sets = driver.find_elements(By.CSS_SELECTOR, "div.rounded-box.grid")
    for data in data_sets:
        desc = data.find_element(By.CSS_SELECTOR, "a.link-hover.link.text-xl.font-semibold")
        name.append(desc.text)
        urls.append(desc.get_attribute("href"))
    try: 
        netbtn = driver.find_element(By.CSS_SELECTOR, ".btn-group > button.btn-primary.btn-sm.btn:nth-child(2)")
        driver.execute_script("return arguments[0].scrollIntoView(true);", netbtn)
        netbtn.click()
        time.sleep(3)
    except ElementClickInterceptedException:
        driver.find_element(By.CSS_SELECTOR, ".btn-group > button.btn-primary.btn-sm.btn:nth-child(2)").click()

data_type=[]
default_task=[]
attr_type=[]
no_of_instances=[]
no_of_attributes=[]
year=[]   
for url in urls:
    driver.get(url)
    attributes = driver.find_elements(By.CSS_SELECTOR, ".col-span-4 > p.text-md")
    default_task.append(attributes[1].text)
    attr_type.append(attributes[3].text)
    data_type.append(attributes[2].text)
    no_of_instances.append(attributes[4].text)
    no_of_attributes.append(attributes[5].text)
    
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                })
df

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes
0,Iris,Classification,Biology,Real,150,4
1,Dry Bean Dataset,Classification,Biology,"Integer, Real",13611,16
2,Heart Disease,Classification,Health and Medicine,"Categorical, Integer, Real",303,13
3,Rice (Cammeo and Osmancik),Classification,Biology,Real,3810,7
4,Adult,Classification,Social Science,"Categorical, Integer",48842,14
...,...,...,...,...,...,...
95,Lenses,Classification,Other,Categorical,24,-
96,Combined Cycle Power Plant,Regression,Computer Science,Real,9568,-
97,Flags,Classification,Other,"Categorical, Integer",194,-
98,KDD Cup 1999 Data,Classification,Computer Science,"Categorical, Integer",4000000,-
99,Productivity Prediction of Garment Employees,"Classification, Regression",Business,"Integer, Real",1197,15

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [43]:
driver=webdriver.Chrome() 
browser=driver.get("https://www.billboard.com/")
driver.maximize_window()
time.sleep(2)


charts=driver.find_element(By.XPATH, "//li[@class='o-nav__list-item lrv-u-align-items-center lrv-u-flex']//a")
try:
    charts.click()
except ElementNotInteractableException:
    driver.get(charts.get_attribute('href'))
time.sleep(2)

hot_100=driver.find_element(By.XPATH, "//a[contains(text(), 'VIEW CHART')]")
driver.execute_script("return arguments[0].scrollIntoView(true);", hot_100)
try:
    hot_100.click()
except ElementClickInterceptedException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks=[]
song_header = driver.find_elements(By.CSS_SELECTOR, ".lrv-a-unstyle-list > .lrv-u-width-100p > .lrv-a-unstyle-list")
for song in song_header:
    try:
        song_nm = song.find_element(By.CSS_SELECTOR, ".c-title")
        song_name.append(song_nm.text)
        song_prop = song.find_elements(By.CSS_SELECTOR, ".c-label")
        artist_name.append(song_prop[0].text)
        last_week_rank.append(song_prop[1].text)
        peak_rank.append(song_prop[2].text)
        weeks.append(song_prop[3].text)
    except NoSuchElementException:
        pass


df=pd.DataFrame({'Song_Name':song_name, 
                'artist_name':artist_name ,
                 'last_week_rank': last_week_rank,
                 'peak_rank': peak_rank,
                 'weeks':weeks        
                })
df

,Song_Name,artist_name,last_week_rank,peak_rank,weeks
0,Lovin On Me,Jack Harlow,1,1,14
1,Texas Hold 'Em,Beyonce,-,2,1
2,Carnival,¥$: Kanye West & Ty Dolla $ign,-,3,1
3,Beautiful Things,Benson Boone,3,3,4
4,Lose Control,Teddy Swims,2,2,27
...,...,...,...,...,...
95,Mmhmm,BigXthaPlug,83,65,8
96,Monaco,Bad Bunny,77,5,18
97,Prove It,21 Savage & Summer Walker,75,43,5
98,Perro Negro,Bad Bunny & Feid,82,20,15
99,Sunday Service,Latto,-,100,1

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [55]:
driver=webdriver.Chrome() 
browser=driver.get("https://github.com/")
driver.maximize_window()
opensource=driver.find_element(By.XPATH, "//button[contains(text(), 'Open Source')]")
opensource.click()
time.sleep(2)
trending=driver.find_element(By.XPATH, "//a[contains(text(), 'Trending')]")
trending.click()
time.sleep(2)

repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

repos = driver.find_elements(By.CLASS_NAME, "Box-row")
for repo in repos:
    repo_title.append(repo.find_element(By.CSS_SELECTOR, ".h3.lh-condensed").text)
    try:
        repo_desc.append(repo.find_element(By.TAG_NAME, "P").text)
    except NoSuchElementException:
         repo_desc.append("-")
    Language_used.append(repo.find_element(By.XPATH, "//*[@itemprop='programmingLanguage']").text)
    Contributors_count.append(len(repo.find_elements(By.CSS_SELECTOR, "span.d-inline-block.mr-3 >a")))



df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors Count':Contributors_count,
                'Language Used':Language_used})
df

,Title,Description,Contributors Count,Language Used
0,google / gemma_pytorch,The official PyTorch implementation of Google'...,2,Python
1,google / gemma.cpp,"lightweight, standalone C++ inference engine f...",2,Python
2,SoraWebui / SoraWebui,"SoraWebui is an open-source Sora web client, e...",2,Python
3,zed-industries / zed,Code at the speed of thought – Zed is a high-p...,5,Python
4,facebook / react-strict-dom,React Strict DOM (RSD) is a subset of React DO...,4,Python
5,all-in-aigc / sorafm,Sora AI Video Generator by Sora.FM,1,Python
6,jackfrued / Python-100-Days,Python - 100天从新手到大师,5,Python
7,levihsu / OOTDiffusion,Official implementation of OOTDiffusion: Outfi...,1,Python
8,FujiwaraChoki / MoneyPrinterV2,Automate the process of making money online.,5,Python
9,mtkarimi / smart-resident-guard,-,1,Python
10,localsend / localsend,An open-source cross-platform alternative to A...,5,Python
11,xiaolai / everyone-can-use-english,人人都能用英语,5,Python
12,google-deepmind / gemma,Open weights LLM from Google DeepMind.,1,Python
13,zhayujie / chatgpt-on-wechat,基于大模型搭建的微信聊天机器人，同时支持微信、企业微信、公众号、飞书、钉钉接入，可选择GPT...,5,Python
14,lobehub / lobe-chat,"🤯 Lobe Chat - an open-source, modern-design Ch...",5,Python
15,soufianetahiri / Anxun-isoon,I-SOON/Anxun leak related stuff,1,Python
16,weijunext / indie-hacker-tools,收录独立开发者出海技术栈和工具,5,Python
17,keep-starknet-strange / awesome-starknet,"A curated list of awesome StarkNet resources, ...",5,Python
18,facebook / react-native,A framework for building native applications u...,5,Python
19,open-telemetry / opentelemetry-cpp,The OpenTelemetry C++ Client,5,Python
20,songquanpeng / one-api,OpenAI 接口管理 & 分发系统，支持 Azure、Anthropic Claude、G...,5,Python
21,ollama / ollama,"Get up and running with Llama 2, Mistral, Gemm...",5,Python
22,lencx / Noi,"🚀 Power Your World with AI - Explore, Extend, ...",2,Python
23,starknet-io / provisions-data,Lists of eligible identities for Starknet prov...,2,Python
24,Azure-Samples / azure-search-openai-demo,A sample app for the Retrieval-Augmented Gener...,5,Python

7. https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc
1. Name 2.Year span 3.rating  4.votes

In [90]:
driver=webdriver.Chrome() 
browser=driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")
driver.maximize_window()
name = []
year_span= []
rating = []
votes = []

for _ in range(0,5):
    try:
        show_more_element = driver.find_element(By.CLASS_NAME, "ipc-see-more__text")
        driver.execute_script("return arguments[0].scrollIntoView(true);", show_more_element)
        show_more_element.click()
        time.sleep(2)
    except NoSuchElementException:
        pass
    except ElementClickInterceptedException:
        driver.execute_script("return arguments[0].scrollIntoView(true);", show_more_element)
        show_more_element.click()
        time.sleep(2)
        
header= driver.find_elements(By.XPATH, "//li[@class='ipc-metadata-list-summary-item']")

for tv_series in header:
    try:
   
        pattern=re.compile(r'[1-9]|[0-9]|[.]')
        title = tv_series.find_element(By.CLASS_NAME, "ipc-title__text")
        match= pattern.sub(' ', title.text)
        name.append(match)
        
        year = tv_series.find_element(By.CSS_SELECTOR, ".sc-be6f1408-8.fcCUPU.dli-title-metadata-item")
        year_span.append(year.text)
        
        rating_value = tv_series.find_element(By.CSS_SELECTOR, ".ipc-rating-star--imdb.ratingGroup--imdb-rating")
        rating.append(rating_value.text.replace('\n', ''))
   
        vote = tv_series.find_element(By.CSS_SELECTOR, ".sc-f24f1c5c-0.cPpOqU")
        votes.append(vote.text.replace('Votes', ''))
    except NoSuchElementException:
        pass


df=pd.DataFrame({'Name':name,
                'Years Span':year_span,
                'Rating':rating,
                'Votes':votes})
df

                      Name Years Span      Rating      Votes
0          Game of Thrones  2011–2019  9.2 (2.3M)  2,259,560
1             Breaking Bad  2008–2013  9.5 (2.1M)  2,107,067
2          Stranger Things  2016–2025  8.7 (1.3M)  1,318,362
3                  Friends  1994–2004  8.9 (1.1M)  1,077,563
4         The Walking Dead  2010–2022  8.1 (1.1M)  1,070,563
..                     ...        ...         ...        ...
295             Tiger King  2020–2021   7.5 (86K)     86,290
296             Revolution  2012–2014   6.6 (86K)     85,840
297             Terra Nova       2011   6.7 (86K)     85,814
298       Raised by Wolves  2020–2022   7.4 (86K)     85,695
299          The West Wing  1999–2006   8.9 (85K)     84,664

[300 rows x 4 columns]