In [178]:
import regex as re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [179]:
txt_val='Python Exercises, PHP exercises.'
x= re.sub(r"[.,\s?]", ":", txt_val)
print(x)

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [180]:

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four233, five:; six...']}

df = pd.DataFrame(data)

df['SUMMARY'] = df['SUMMARY'].str.replace(r'[X+]|[^(a-zA-Z\s)]', '', regex=True)

print(df)

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [162]:
string_pattern=re.compile(r"\b[a-zA-Z]{3,}\b")
def find_word(text):
    total = string_pattern.findall(text)
    return total
print (find_word("Sound travels four times faster in water than it does in air."))
print (find_word("Cats have over 100 vocal sounds, whereas dogs only have about ten."))

['Sound', 'travels', 'four', 'times', 'faster', 'water', 'than', 'does', 'air']
['Cats', 'have', 'over', 'vocal', 'sounds', 'whereas', 'dogs', 'only', 'have', 'about', 'ten']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [163]:
string_pattern=re.compile(r"\b[a-zA-Z]{3}\b|\b[a-zA-Z]{4}\b|\b[a-zA-Z]{5}\b")
def find_word(text):
    total = string_pattern.findall(text)
    return total
print (find_word("Sound travels four times faster in water than it does in air."))
print (find_word("Cats have over 100 vocal sounds, whereas dogs only have about ten."))

['Sound', 'four', 'times', 'water', 'than', 'does', 'air']
['Cats', 'have', 'over', 'vocal', 'dogs', 'only', 'have', 'about', 'ten']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [164]:
sample_text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello ( Data Science World)", "Data (Scientist)"]
pattern=re.compile(r" [()]|[\)]")
for msg in sample_text:
    a= pattern.sub('',msg)
    print(a)

example.com
hr@fliprobo.com
github.com
Hello Data Science World
DataScientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression

In [169]:
pattern=re.compile(r" [()]|[\)]")
with open("C:/Users/chaud/OneDrive/Desktop/sample_assignment.txt") as file:
    for line in file:
        a = pattern.sub('',line)
        print(a)

example.com

hr@fliprobo.com

github.com

Hello Data Science World

DataScientist

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [170]:
data = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][a-z]*', data))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [47]:
data="RegularExpression1IsAn2ImportantTopic3InPython"
def insert_spaces(text):
  pattern = r'(\d+)([A-Za-z]+)'
  result = re.sub(pattern, r' \1 \2', text)
  return result
print(insert_spaces(data))

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers

In [171]:
data="RegularExpression1IsAn2ImportantTopic3InPython"
def insert_spaces(text):
  pattern = r'(\d*)([A-Z][a-z]*)'
  result = re.sub(pattern, r'\1 \2 ', text)
  return result 
print(insert_spaces(data))

 Regular  Expression 1 Is  An 2 Important  Topic 3 In  Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [181]:
df2=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
df2

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [182]:
pattern=r'^(\w{,5})'
a= df2['Country'].str.extract(pattern,flags=re.I)
df2['First_five_letters']=a
df2

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,First_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switz
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icela
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denma
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norwa
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwand
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burun
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores

In [189]:
string="The_normal_distribution12instatistics"
ans= re.match(r'^[a-zA-Z0-9_]*$', string)
print(ans)

<regex.Match object; span=(0, 37), match='The_normal_distribution12instatistics'>

Question 12- Write a Python program where a string will start with a specific number.

In [173]:
def number_start(data):
    pattern=r"^4"
    if re.match(pattern,  data):
        return 'Match'
    else:
        return 'Not_match'
print(number_start("234555_23"))
print(number_start("4555_23"))

Not_match
Match

Question 13- Write a Python program to remove leading zeros from an IP address

In [174]:
input_string = "000011.012.013.014"
def remove_zeros(ip_address):
    pattern = re.compile(r'0+(\d+)')
    ip = pattern.sub(r'\1', ip_address)
    return ip
print(remove_zeros(input_string))

11.12.13.14

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [147]:
date_pattern = re.compile(r"(January|February|March|April|May|June|July|August|September|October|November|December)\s+(\d{2}th)\s(\d{4})")

file_path = "C:/Users/chaud/OneDrive/Desktop/Sample_Date_Text.txt"

with open(file_path) as file:
    file_content = file.read()
    
    for matches in date_pattern.finditer(file_content):
        print(matches.group())

August 15th 1947

Question 15- Write a Python program to search some literals strings in a string.

In [309]:
def search_literals(sample_text, searched_words):
    for word in searched_words:
        match = re.search(word, sample_text)
        if match:
            print(match)
        else:
            print("not found in the text.")

sample_text = 'The quick brown fox jumps over the lazy dog.'
searched_words = ['fox', 'dog', 'horse']

search_literals(sample_text, searched_words)

<re.Match object; span=(16, 19), match='fox'>
<re.Match object; span=(40, 43), match='dog'>
not found in the text.

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [345]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
print("Found %s" % match.re.pattern,"at start position %s"%match.start(),"and end position at %s" %match.end())

Found fox at start position 16 and end position at 19

Question 17- Write a Python program to find the substrings within a string.

In [29]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'
for match in re.finditer(Pattern, Sample_text):
    print(match.start(),match.end(), match.group())

<_regex.Scanner object at 0x000001BC94CBC170>
7 16 exercises
22 31 exercises
36 45 exercises

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [370]:
Sample_text = 'Python exercises, PHP exercises, C# exercises'
Pattern = 'exercises'
match_text = re.search(Pattern, Sample_text)
print(match_text)

<re.Match object; span=(7, 16), match='exercises'>

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [99]:
Date="2023-12-13"
def date_reverse(dt):
  date_pattern='(\d{4})[-](\d{2})[-](\d{2})'
  reversed = re.sub(date_pattern, r'\3-\2-\1 ', dt)
  return reversed 
print(date_reverse(Date))

13-12-2023

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [27]:
decimal_numbers= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
number_pattern= re.compile(r'\b\d+\.\d{1,2}\b')
a=number_pattern.findall(decimal_numbers)
print(a)

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [44]:
find_number =  "The price of the product is $25.99 and the quantity is 10 and 2.5"
number_pattern = '\d+(\.\d{1,}){0,1}'
for match in re.finditer(number_pattern, find_number):
    print(match.start(),match.end(), match.group())

29 34 25.99
55 57 10
62 65 2.5

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [175]:
sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

def maximum_number(text):
    numeric_pattern = re.compile(r'\b\d+\b')
    
    for match in (text):
        numeric_values=numeric_pattern.findall(sample_text)
        if numeric_values:
            max_value = max(numeric_values)
            return max_value
        else:
            return None

print(maximum_number(sample_text))

950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [56]:
sample_string="RegularExpressionIsAnImportantTopicInPython"
def insert_spaces(text):
  start_capital = r'([A-Z])([a-z]+)'
  result = re.sub(start_capital, r' \1\2', text)
  return result 

print(insert_spaces(sample_string))

 Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [76]:
sample_string="Write a python program using RegEx"
def insert_spaces(text):
  start_capital = r'[A-Z][A-Za-z]+'
  result = re.findall(start_capital, text)
  return result 

print(insert_spaces(sample_string))

['Write', 'RegEx']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [72]:
duplicate_string="Hello hello world world"
pattern_string= r"\b(\w+)(?:\W+\1\b)+"
x=re.sub(pattern_string, r"\1", duplicate_string)
print(x)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character

In [91]:
def check_string(string):
    pattern = r"[a-zA-Z0-9]$"
    match = re.search(pattern, string)
    if(re.search(pattern, string)):
        print("The string ends with alphanumeric character")
    else:
        print("The string does not end with alphanumeric character")
input_string = input("Enter a string: ")
check_string(input_string)

Enter a string: i am priyanka12 abcd123@
The string does not end with alphanumeric character

Question 27-Write a python program using RegEx to extract the hashtags.

In [128]:
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern_text=r"(#[a-zA-Z0-9]+)"
find=re.findall(pattern_text,text)
print(find)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [132]:
sample_text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r"(<U\+[a-zA-Z0-9]+>)"
s=re.sub(pattern, " " ,sample_text)
print(s)

@Jags123456 Bharat band on 28??<ed>  <ed>  Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

In [176]:
with open("C:/Users/chaud/OneDrive/Desktop/find_dates.txt") as file:
    for line in file:
        for find_dates in re.finditer("(\d{2}[-]\d{2}[-]\d{4})",line):
            print(find_dates.group())

12-09-1992
15-12-1999

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.

In [160]:
defined_string= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
def string_length(string):
    defined_pattern = re.compile(r"\b[a-zA-Z0-9]{2,4}\b")
    required_string = defined_pattern.sub("", string)
    return required_string
print (string_length("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."))

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.